.App {
  text-align: center;
  background-color: #F5F5F5;
  min-height: 100vh;
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  font-size: 14px;
  color: #000000;
  font-family: Roboto;

  .nav-link {
    cursor: pointer;
    &.active {
      border-bottom: 3px solid #000000;
    }
  }
}
.user-list {
  flex-wrap: wrap;

  .card {
    width:295px;
    height: 277px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    cursor:pointer;
    margin: 20px;

    img {
      width: 114px;
      height: 114px;
      border-radius:50%
    }
    .card-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }

    .card-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #8C8C8C;
    }
  }
}
.resource-list {
  flex-wrap: wrap;

  .card {
    width:295px;
    height: 148px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.16);
    align-items: flex-start;
    justify-content: space-around;
    padding: 15px;
    cursor:pointer;
    margin: 20px;

    .card-body {
      display:flex;
      flex-direction: column-reverse;

      .card-title {
        font-weight: 400;
        font-size: 70px;
        line-height: 82px;
      }

      .card-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #000000;
      }
    }
  }
}

.error {
  min-height: calc(100vh - 40px);
  h1 {
    flex-grow: 0;
  }
}

.App-link {
  color: #61dafb;
}

.loading {
  margin: 30px;
  text-align: center;
}

